@tailwind base;
@tailwind components;
@tailwind utilities;

/* Анимация кнопок */
.btn {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 10px 20px rgba(180, 120, 0, 0.3);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: left 0.6s ease;
}

.btn:hover::before {
  left: 100%;
}

.product-btn {
  background: linear-gradient(to right, #FFA000, #FFCA28);
  background-size: 200% 200%;
  transition: background-position 0.6s ease;
}

.product-btn:hover {
  background-position: right center;
}

/* Переливающийся градиент для кнопок "Заказать" */
.gradient-hover {
  background: linear-gradient(to right, #FFA000, #FFCA28);
  background-size: 200% 200%;
  transition: background-position 0.6s ease;
}

.gradient-hover:hover {
  background-position: right center;
}

#honey-canvas canvas {
  position: absolute !important;
  top: 0;
  left: 0;
}
